<template>
  <section id="calc" class="section">
    <div class="container">
      <img src="dist/logo.png">
      <h1>{{ welcome }}</h1>
      <div class="columns is-desktop">
        <div class="column">
          <div class="field">
            <label class="label">Inches</label>
            <div class="control">
              <input
                class="input is-primary"
                type="number"
                step="0.001"
                v-model.number="sizeInch"
                @keyup="calculateFromInch"
              >
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Points</label>
            <div class="control">
              <input
                class="input is-warning"
                type="number"
                step="0.01"
                v-model.number="sizePoint"
                @keyup="calculateFromPoint"
              >
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">VIP units</label>
            <div class="control">
              <input
                class="input is-success"
                type="number"
                step="1"
                v-model.number="sizeVip"
                @keyup="calculateFromVip"
              >
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">MM</label>
            <div class="control">
              <input
                class="input is-info"
                type="number"
                step="0.01"
                v-model.number="sizeMm"
                @keyup="calculateFromMm"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
var Big = require("big.js");

export default {
  data() {
    return {
      welcome: "Simple VIP units calc",
      sizeInch: "",
      sizePoint: "",
      sizeMm: "",
      sizeVip: ""
    };
  },
  methods: {
    calculateFromInch() {
      let input;
      if (this.sizeInch === "") {
        input = Big("0");
        this.sizePoint = "";
        this.sizeVip = "";
        this.sizeMm = "";
      } else {
        input = Big(this.sizeInch);
        this.sizePoint = input.times(72).round(2);
        this.sizeVip = input.times(14400).round(2);
        this.sizeMm = input.times(25.4).round(2);
      }
    },

    calculateFromPoint() {
      let input;
      if (this.sizePoint === "") {
        input = Big("0");
        this.sizeInch = "";
        this.sizeVip = "";
        this.sizeMm = "";
      } else {
        input = Big(this.sizePoint);
        this.sizeInch = input.div(72).round(3);
        this.sizeVip = input
          .div(72)
          .times(14400)
          .round(2);
        this.sizeMm = input
          .div(72)
          .times(25.4)
          .round(2);
      }
    },

    calculateFromVip() {
      let input;
      if (this.sizeVip === "") {
        input = Big("0");
        this.sizeInch = "";
        this.sizePoint = "";
        this.sizeMm = "";
      } else {
        let input = Big(this.sizeVip);
        this.sizeInch = input.div(14400).round(3);
        this.sizePoint = input
          .div(14400)
          .times(72)
          .round(2);
        this.sizeMm = input
          .div(14400)
          .times(25.4)
          .round(2);
      }
    },

    calculateFromMm() {
      let input;
      if (this.sizeMm == "") {
        input = Big("0");
        this.sizeInch = "";
        this.sizePoint = "";
        this.sizeVip = "";
      } else {
        let input = Big(this.sizeMm);
        this.sizeInch = input.div(25.4).round(3);
        this.sizePoint = input
          .div(25.4)
          .times(72)
          .round(2);
        this.sizeVip = input
          .div(25.4)
          .times(14400)
          .round(2);
      }
    }
  }
};
</script>

<style>
#calc {
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
</style>
