<template>
  <footer>
    <div class="container">
      <div class="content has-text-centered">
        Made with
        <span class="heart">♥</span> in Poland
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Foot"
};
</script>

<style>
.heart {
  color: crimson;
  padding: 0 5px;
  font-size: 1.5em;
}
</style>
