@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/layout/section";
@import "~bulma/sass/elements/form";
@import "~bulma/sass/elements/container";

footer {
  background: #f8f8f8;
  margin-top: 3rem;
  padding: 0.2rem 0;
  position: absolute;
  bottom: 0;
  width: 100%
}

[v-cloak] {
  display: none;
}
