<template>
  <div id="app">
    <Calc/>
    <Foot/>
  </div>
</template>

<script>
import Calc from "./components/Calc";
import Foot from "./components/Footer";

export default {
  name: "App",
  components: {
    Calc,
    Foot
  }
};
</script>
